    <div class="filter-box">
    <p class="header-font">Filter</p>

    <div class="box">
        <div class="shoe-brands">
            <table>
                <tr>
                    <td>
                        <p>Brands</p>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        adidas
                        <br>nike
                        <br>camper
                       <br>superga
                        <br>tımberland
                        <br>new balance
                        <br>converse
                        <br>puma
                        <br>kinetix
                    </td>
                    <td class="right">
                        tiger
                        <br>lacoste
                        <br>reebok
                        <br>cat
                        <br>dockers
                    </td>
                </tr>
            </table>
        </div>

        <div class="gender-box">
            <table>
                <tr>
                    <td class="first">
                        <h1>Woman</h1>
                        <div class="button-woman-mini"></div>
                        <br><h2>Total</h2>
                        <p>337 products</p>
                    </td>

                    <td class="middle">
                        <h1>Man</h1>
                        <div class="button-man-mini"></div>
                        <br><h2>Total</h2>
                        <p>337 products</p>
                    </td>

                    <td class="last">
                        <h1>Kids</h1>
                        <div class="button-kids-mini"></div>
                        <br><h2>Total</h2>
                        <p>337 products</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="color-price-box">
            <div class="color-box">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="no1"></td>
                        <td class="no2"></td>
                        <td class="no3"></td>
                        <td class="no4"></td>
                        <td class="no5"></td>
                        <td class="no6"></td>
                        <td class="no7"></td>
                        <td class="no8"></td>
                        <td class="no9"></td>
                        <td class="no10"></td>
                    </tr>
                    <tr>
                        <td class="no11"></td>
                        <td class="no12"></td>
                        <td class="no13"></td>
                        <td class="no14"></td>
                        <td class="no15"></td>
                        <td class="no16"></td>
                        <td class="no17"></td>
                        <td class="no18"></td>
                        <td class="no19"></td>
                        <td class="no20"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
