<div class="container-wide">
<footer>
    <div class="flexbox">

            <div class="footer-item first">
                <img src="pictures/logo-white.png">
            </div>

            <div class="footer-item divider">
                <a href="#">About us</a>
            </div>

            <div class="footer-item divider">
                <a href="#">FAQ </a>
            </div>

            <div class="footer-item divider">
                <a href="#">Terms and Conditions</a>
            </div>

            <div class="footer-item divider">
                <a href="#">Secure payments</a>
            </div>

            <div class="footer-item divider">
                <a href="#">Shipping</a>
            </div>

            <div class="footer-item">
                <a href="#">Contact</a>
            </div>

            <div class="footer-item last">
                <img src="pictures/icons.png">
            </div>
    </div>
</footer> 
</div>
