<div class="tabs">
        
       <div class="tab">
           <input type="radio" id="tab-1" name="tab-group-1" checked>
           <label for="tab-1">Product overview</label>
           
           <div class="content">
               <p class="header">Description</p>
               <p>{{shoe.description}}</p>
               <p>DETAILS
                   <br>- Premium burnished full-grain leather and suede upper
                   <br>- Leather is from a tannery rated Silver for its water, energy and waste-management practices
                   <br>- Leather lining and footbed for a premium feel and optimal comfort
                   <br>- SmartWool® faux shearling lining is made with 60% merino wool and 40% PET
                   <br>- Reflective insole board for additional warmth under foot
                   <br>- 100% organic cotton laces
                   <br>- SmartWool® fabric-lined anti-fatigue footbed provides superior, all-day comfort and climate control
                   <br>- Timberland® exclusive Gripstick™ and Green Rubber™ outsole is made with 42% recycled rubber
               </p>
           </div> 
       </div>
        
       <div class="tab">
           <input type="radio" id="tab-2" name="tab-group-1">
           <label for="tab-2">Features</label>
           
           <div class="content">
               <p>Stuff for Tab Two</p>
               
               <img src="http://placekitten.com/200/100">
           </div> 
       </div>
        
        <div class="tab">
           <input type="radio" id="tab-3" name="tab-group-1">
           <label for="tab-3">Customer review</label>
         
           <div class="content">
               <p>Stuff for Tab Three</p>
           </div> 
       </div>
        
    </div>